# Initial density of the seed:
seed_density = 1e14

# Type of seed: neutral (0), ions (1) or electrons (-1)
seed_charge_type = 0

# The relative start position of the initial seed:
seed_rel_r0 = 0.0 0.89

# The relative end position of the initial seed:
seed_rel_r1 = 0.0 0.91

# Seed width:
seed_width = 5e-3

# Fallof type for seed, see m_geom.f90:
seed_falloff = gaussian
