*.mod
*.o
*.vtu
*.silo
*.a
src/m_a2_*
src/m_a3_*
/examples/poisson_basic_2d*
/examples/poisson_basic_3d*
/examples/advection_2d*
/examples/advection_3d*
/examples/boundary_conditions_2d*
/examples/boundary_conditions_3d*
/examples/computational_domain_2d*
/examples/computational_domain_3d*
/examples/implicit_diffusion_2d*
/examples/implicit_diffusion_3d*
/examples/poisson_benchmark_2d*
/examples/poisson_benchmark_3d*
/examples/drift_diffusion_2d*
/examples/drift_diffusion_3d*
/examples/random_refinement_2d*
/examples/random_refinement_3d*
/examples/poisson_neumann_2d*
/examples/poisson_neumann_3d*
/examples/poisson_cyl*
/examples/poisson_cyl_dielectric*
/tests/test_morton
/tests/test_reduction_2d
/documentation/doc/
/tests/test_ghostcell
/tests/test_init
/tests/test_refinement
/tests/test_types_2d_3d
tests/results/*
/examples/simple_streamer_2d
external_libraries/*
documentation/html/*
