# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.a
*.mod
*.s

# Temporary backups #
###################
*~

# Tags #
###################
*TAGS
GPATH

Other files
###################
.DS_Store*
*.silo
*.vtu

/programs/*/output/
/tutorials/*/output/
afivo/examples/*
afivo/tutorial/*
afivo/external_libraries/*
/afivo/examples/*
/programs/*/streamer
/tutorials/*/streamer
*gmon.out
documentation/html/*
**/tests/output/*
**/run.log
