 ##############################################
 ###          Configuration file            ###
 ##############################################
 ##############################################
  cylindrical = T
  
  refine_adx_fac = 1.2# new refinement
  refine_adx = 0.8
  refine_per_steps = 1
#  refine_min_dx = 5e-6
  refine_max_dx = 1e-4
  refine_buffer_width = 3
  multigrid_num_vcycles = 2
  derefine_dx = 5e-5
  refine_init_time = 2e-8
  refine_init_fac = 0.1
 # The desired endtime in seconds of the simulation:
 end_time = 6e-8

 # The name of the simulation:
 output%name = output/test_humidair_24
####
[datfile]
    # Write binary output files every N outputs:
    per_outputs = 1

    # Write binary output files (to resume later):
    write = F
# If set, restart simulation from a previous .dat file:
restart_from_file = 'UNDEFINED'

# The size of the coarse grid:
 coarse_grid_size = 8 16

 # The length of the (square) domain:
 domain_len = 32e-3 64-3

 # Whether the domain is periodic (per dimension):
 periodic = F F

 # The gas pressure in bar (used for photoionization):
 # Gas INFO
 gas%components   = "N2  O2"
 gas%fractions    = 0.8 0.2
 gas%pressure     = 0.1000E+01
 gas%temperature  = 300.0
 # The applied electric field:
 field_amplitude = -0.24E+07

 # The background ion and electron density in 1/m^3:
 background_density = 0 #1.0E+13

 # Initial density of the seed:
 seed_density = 5.0E+19 #2.0e+18 

 # Type of seed: neutral (0), ions (1) or electrons (-1)
 seed_charge_type = 0  #0

 # The relative start position of the initial seed:
 seed_rel_r0 = 0.0000E+0 1.0E+00    # 0.0E+00 0.95E+00

 # The relative end position of the initial seed:
 seed_rel_r1 = 0.0000E+00 0.88E+00  # 0.0E+00 0.88E+00

 # Seed width:
 seed_width = 2.0E-04 #2.E-04

 # Fallof type for seed, see m_geom.f90:
 seed_falloff = smoothstep #smoothstep 

 # The timestep for writing output:
 output%dt = 0.5E-09
 # The maximum timestep:
 dt_max = 0.1000E-09
 dt_min = 0.1000E-15

#[photoi]
#      enabled = t
#      method =  helmholtz
##      source_type = from_species #Zheleznyak
#      excited_species = N2_star
#      per_steps = 1 
#      #eta = 0.75E-01         #When using species we do not need the 
#      quenching_pressure = 40e-3      
#      photoemission_time = 2.184e-9 #0.0 means all the N2_star produce ionizing photons, non-zero means not all of them produce photons

[photoi]
    # Whether photoionization is enabled:
    enabled = T

    # Which excited species to use when photoi%source_type = from_species:
    #excited_species = 'N2_star'

    # Which photoionization method to use (helmholtz, montecarlo):
    method = 'helmholtz'

    # Update photoionization every N time step:
    per_steps = 1

    # Photoemission time delay in case photoi_source_type is 'from_species':
    #photoemission_time =   2.1840E-09

    # Photoionization quenching pressure (bar):
    quenching_pressure =  4.0000E-02

    # How to compute the photoi. source (Zheleznyak, from_species):
    source_type = 'Zheleznyak'
    
    eta = 0.75E-01   #When using species we do not need the 

[photoi_helmh]
    # Can be Luque (default), Bourdon-2, Bourdon-3 or custom:
    author = 'Bourdon-3'

    # Weights corresponding to the lambdas; unit 1/(m bar)^2:
    coeffs =  1.1173E+06  2.8692E+07  2.7488E+09

    # Lambdas to use in Helmholtz eq; unit 1/(m bar):
    lambdas =  4.1479E+03  1.0951E+04  6.6756E+04

#[photoi_mc]
    # At which grid spacing photons are absorbed compared to their mean distance:
    #absorp_fac =  1.0000E-05

    # Whether a constant grid spacing is used for photoionization:
    #const_dx = T

    # Minimum grid spacing for photoionization:
    #min_dx =  1.0000E-10

    # Maximum number of discrete photons to use:
    #num_photons = 6000000

    # Whether physical photons are used:
    #physical_photons = T

#[lineout]
#    # Use this many points for lineout data:
#    npoints = 500
    # Relative position of line maximum coordinate:
#    rmax =  0.0000E+00  0.1000E+01
    # Relative position of line minimum coordinate:
#    rmin =  0.0000E+00  0.0000E+00
    # Write output along a line:
#    write = f

 # Input file with transport data:
 input_data%file  = ../../../afivo-streamer/transport_data/Dry_air_chemistry.txt #air_chemistry_2021_photo_200.txt  #air_chemistry_2021_200.txt 
 # input_data%file = ../../transport_data/td_air_siglo_swarm.txt
 input_data%old_style = f

[table_data]
    # Input interpolation method (linear, cubic_spline):
    input_interpolation = 'cubic_spline'

    # Maximal field (in Td) for the rate coeff. lookup table:
    max_townsend =  1.0000E+03

    # Minimal field (in Td) for the rate coeff. lookup table:
    min_townsend =  0.0000E+00

    # Size of the lookup table for reaction rates:
    size = 1000
