#restart_from_file = './output/test1_000030.dat'
# The background ion and electron density (1/m3):
#background_density =  1.0000E+11
background_density =  1.7700E+09

output%electron_current = T
# The number of grid cells per coordinate in a box:
box_size = 8

# Whether cylindrical coordinates are used (only in 2D):
cylindrical = T

[datfile]
    # Write binary output files every N outputs:
    per_outputs = 50

    # Write binary output files (to resume later):
    write = T

user_current_control = True
user_current = 0.1
user_relaxation_time = 5e-9
# Initial density of the seed:
seed_density = 1e19

# Type of seed: neutral (0), ions (1) or electrons (-1):
seed_charge_type = 0

# Fall-off type for seed (sigmoid, gaussian, smoothstep, step, laser):
seed_falloff = gaussian

# The relative start position of the initial seed:
seed_rel_r0 = 0.0 0.0

# The relative end position of the initial seed:
seed_rel_r1 = 0.0 1.0

# Seed width (m):
seed_width = 1.5e-3

# Only derefine if grid spacing if smaller than this value:
#derefine_dx =  1.0000E-04
derefine_dx =  1.0000E-05
use_electrode = F
# Ensure grid spacing around electrode is less than this value:
refine_electrode_dx =  0.5000E-05
electrode_derefine_factor = 8
# The length of the domain (m):
#domain_len =  1.0000E-01  1.0000E-01
domain_len = 13.3e-3 13.3e-3 

# Small density for the chemistry time step:
dt_chemistry_nmin =  1.0000E+15

# The maximum timestep (s):
dt_max =  1.0000E-10

# The minimum timestep (s):
dt_min =  1.0000E-15

# Safety factor for the time step:
dt_safety_factor =  9.0000E-01

# Streamer length at which the simulation will end.:
end_streamer_length =  1.5000E-02

# Type of boundary condition to use (homogeneous, ...):
field_bc_type = 'homogeneous'

# Whether the electrode is grounded or at the applied voltage:
field_electrode_grounded = F

# Type of electrode:
field_electrode_type = 'rod'

# How the electric field or voltage is specified:
field_given_by = 'voltage 2.4e4'

# The desired endtime (s) of the simulation:
end_time = 5e-6

# First electrode relative position:
field_rod_r0 =  0.0000E+00  9.0000E-01

# Second electrode relative position:
field_rod_r1 =  0.0000E+00  1.0000E+00

# Third electrode relative position:
field_rod_r2 =  0.0000E+00  1.0000E+00

# Electrode radius (in m, for standard rod electrode):
#field_rod_radius =  7.5000E-04
field_rod_radius = 1.5e-4

# Electrode tip radius (for conical electrode):
#field_tip_radius =  5.0000E-05
field_tip_radius =  8.0000E-06

[fixes]
    # Enable flux limiting, but prevent field from exceeding this value:
    #drt_max_field = 1e6

    # Use source factor to prevent unphysical effects due to diffusion:
    source_factor = 'flux'

    # Whether to write the source factor to the output:
    write_source_factor = F

[gas]
    # Gas component names:
    components = 'N2' 'O2'

    # Whether the gas dynamics are simulated:
    dynamics = T
    # Joule heating efficiency (between 0.0 and 1.0):
    heating_efficiency =  1.0000
    #slow_heating_efficiency =  0.0000E+00
    #tau_vt = 2e-5

    # Gas component fractions:
    fractions =  8.0000E-01  2.0000E-01

    # Gas mean molecular weight (kg), for gas dynamics:
    molecular_weight =  4.7824E-26

    # The gas pressure (bar):
    pressure =  1.0
    
    # The gas temperature (Kelvin):
    temperature =  3.0000E+02


# Number of simulation steps to wait before initializing "the starting position of the streamer:
initial_streamer_pos_steps_wait = 5

[input_data]
    # Input file with transport (and reaction) data:
    #file = '../../transport_data/varyO2_transportData/BG_20O2.txt'
    file = '../../transport_data/air_chemistry_v3.txt'

    # List of ion mobilities (m^2/Vs) at 1 bar, 300 K:
    ion_mobilities =  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04

    # List of ions that are considered mobile:
    mobile_ions = 'N2_plus' 'O2_plus' 'N4_plus' 'O4_plus' 'O2_min' 'O_min' 'O3_min'

    # Use old style transport data (alpha, eta, mu, D vs V/m):
    old_style = F
    
[table_data]
    # Input interpolation method (linear, cubic_spline):
    #input_interpolation = 'linear'
    input_interpolation = 'linear'

    # Maximal field (in Td) for the rate coeff. lookup table:
    max_townsend =  1.0000E+03

    # Minimal field (in Td) for the rate coeff. lookup table:
    min_townsend =  1.0000E+00

    # Size of the lookup table for reaction rates:
    size = 1000

    # x-spacing for lookup table (linear, quadratic):
    #xspacing = 'linear'
    xspacing = 'quadratic'

# Memory limit (GB):
memory_limit_GB =  16.0000E+00

[output]
    # Output the conductivity of the plasma:
    conductivity = T

    # The timestep for writing output (s):
    dt =  5e-9

    # To reduce output when the voltage is off:
    dt_factor_pulse_off = 100

    # Show the electron energy in eV from the local field approximation:
    electron_energy = F

    # Name for the output files (e.g. output/my_sim):
    name = '/scratch-shared/rep_Pulses/newchem/20_O2/20O2_1mus'

    # Print status every this many seconds:
    status_delay =  1.0000E+01

# Whether the domain is periodic (per dimension):
periodic = F F

[photoi]
    # Whether photoionization is enabled:
    enabled = T

    # Whether photoionization is enabled in gas:
    enabled_ingas = T

    # Photoionization efficiency factor, typically around 0.05-0.1:
    eta =  5.0000E-02

    # Which photoionization method to use (helmholtz, montecarlo):
    method = 'helmholtz'

    # Update photoionization every N time step:
    per_steps = 4

    # How to compute the photoi. source (Zheleznyak, from_species):
    source_type = 'Zheleznyak'

[photoi_helmh]
    # Can be Luque (default), Bourdon-2, Bourdon-3 or custom:
    author = 'Bourdon-3'

    # Maximum residual relative to max(|rhs|):
    max_rel_residual =  1.0000E-02

# Density prolongation method (limit, linear, linear_cons, sparse):
prolong_density = 'limit'

# Refine if alpha*dx is larger than this value:
refine_adx =  1.0000E+00

# For refinement, use alpha(f * E)/f, where f is this factor:
refine_adx_fac =  1.0000E+00

# The refinement buffer width in cells (around flagged cells):
refine_buffer_width = 4

# Refine if the curvature in phi is larger than this value:
refine_cphi =  1.0000E+99


# Refine until dx is smaller than this factor times the seed width:
refine_init_fac =  2.5000E-01

# Refine around initial conditions up to this time:
refine_init_time =  1.0000E-08

# Refine regions at most up to this grid spacing:
refine_limits_dr =  1.0000E+99

# Maximum coordinate of the refinement limits:
refine_limits_rmax =  0.0000E+00  0.0000E+00

# Minimum coordinate of the refinement limits:
refine_limits_rmin =  0.0000E+00  0.0000E+00

# The grid spacing will always be smaller than this value:
#refine_max_dx =  1.0000E-04
refine_max_dx =  2e-3

# Minimum electron density for adding grid refinement:

refine_min_dens = -1.0000E+99

# The grid spacing will always be larger than this value:
refine_min_dx =  1.0000E-07

# The number of steps after which the mesh is updated:
refine_per_steps = 2

# Refine regions up to this grid spacing:
 #refine_regions_dr = 50e-6
 refine_regions_dr = 100e-6
 
# # Maximum coordinate of the refinement regions:
 refine_regions_rmax = 2e-3 14e-3  
 
# # Minimum coordinate of the refinement regions:
 refine_regions_rmin =  0.0000E+00  0.0000E+00

# Refine regions up to this simulation time:
refine_regions_tstop =  1.0000E+99


# Seed for random numbers; if all zero, generate randomly:
rng_seed = 8123 91234 12399 293434

[silo]
    # Write silo output files every N outputs:
    per_outputs = 1

# Write silo output:
silo_write = T

# Boundary condition for the plasma species:
species_boundary_condition = 'neumann_zero'


# Time integrator (use arbitrary value to see options):
time_integrator = 'heuns_method'


# The size of the coarse grid:
coarse_grid_size = -1 -1

# Whether to compute the deposited power density:
compute_power_density = T


# Allow derefinement if the curvature in phi is smaller than this value:
derefine_cphi =  1.0000E+99

[dielectric]
    # Secondary electron emission coefficient for positive ion impact:
    gamma_se_ion =  1.0000E-01

    # Secondary electron emission coefficient for high energy photons:
    gamma_se_ph_highenergy =  1.0000E-01

    # Secondary electron emission coefficient for low energy photons:
    gamma_se_ph_lowenergy =  1.0000E-01

    # Maximum travel distance for testing boundary intersection:
    photon_step_length =  1.0000E-03

    # Assume photons are not absorbed for photoemission computation:
    photons_no_absorption = F

    # preset nonuniform surface charge:
    preset_charge =  0.0000E+00

    # The distribution of nonuniform surface charge:
    preset_charge_distribution =  0.0000E+00

# The origin of the domain (m):
domain_origin =  0.0000E+00  0.0000E+00

# CFL number to use:
dt_cfl_number = -1.0000+100

# The (initial) vertical applied electric field (V/m):
field_amplitude = -1.0000+100

[field_maxima]
    # Minimal distance (m) between electric field maxima:
    distance =  0.0000E+00

    # Threshold value (V/m) for electric field maxima:
    threshold =  0.0000E+00

    # Output electric field maxima and their locations:
    write = F

# Stop multigrid when residual is smaller than this factor times max(|rhs|):
multigrid_max_rel_residual =  1.0000E-04

# Number of V-cycles to perform per time step:
multigrid_num_vcycles = 2

# Stochastic background density (1/m3):
stochastic_density =  0.0000E+00

# Whether a dielectric is used (experimental):
use_dielectric = F

# Whether the length of the streamer is used to end the simulation:
use_end_streamer_length = F

