 ##############################################
 ###          Configuration file            ###
 ##############################################
#restart_from_file = '/media/andy/Samsung_T51/afivo-streamer/output/pulsed/pulsed_small_000041.dat'

#datfile%write = T


 electron_bc = standard
 species_boundary_condition = 'neumann_zero'

# The size of the coarse grid:
 coarse_grid_size = 256 256
 refine_max_dx = 2e-3
 derefine_dx = 2e-4
 refine_electrode_dx = 2.5e-5
 
 # The desired endtime in seconds of the simulation:
 use_end_time = T
 end_time = 200e-9
 use_end_streamer_length = F
 end_streamer_length = 14e-2


 # Add electrode with the following settings
 use_electrode = T
 use_electrode_voltage = T
 electrode_voltage_t_risefall = 2.5e-9
 electrode_voltage_t_pulse = 10e-9
 electrode_voltage_t_inter = 100e-9

electrode_voltage = 32e3

 # Whether the electrode is grounded or at the applied voltage:
 field_electrode_grounded = F

 # Electrode relative start position (for standard rod electrode):
 field_rod_r0 =  0.0  1.0

 # Electrode relative end position (for standard rod electrode):
 field_rod_r1 =  0.0  0.9

 # Electrode radius (in m, for standard rod electrode):
 field_rod_radius =  1e-3

 cylindrical = T

 # The name of the simulation:
 output%name = '/media/andy/Samsung_T51/afivo-streamer/output/pulsed/pulsed_small'


 # The length of the (square) domain:
 domain_len = 18e-3 18e-3

 # Whether the domain is periodic (per dimension):
 periodic = F F

 # The gas pressure in bar (used for photoionization):
 gas%pressure = 1

 # The applied electric field:
 #field_amplitude = -1.0000E+06
field_amplitude = 0
 # The background ion and electron density in 1/m^3:
 background_density = 1e14

 # Initial density of the seed:
 #seed_density = 5E19

  #dt_min = 1e-15


 # Type of seed: neutral (0), ions (1) or electrons (-1)
 #seed_charge_type = 0

 # The relative start position of the initial seed:
 #seed_rel_r0 = 0.0 1.0

 # The relative end position of the initial seed:
 #seed_rel_r1 = 0.0 0.95

 # Seed width:
 #seed_width = 2.000E-04

 # Fallof type for seed, see m_geom.f90:
 #seed_falloff = gaussian

 # The timestep for writing output:
 output%dt = 0.200E-09

 # The maximum timestep:
 dt_max = 0.1000E-09

photoi%enabled = T
photoi%method = 'helmholtz'
photoi%per_steps = 1

 # Input file with transport data:
 input_data%file = '/home/andy/Documents/PhD_CWI/afivo-streamer/transport_data/N2_O2_NO_NO2_N2O_chemistry.txt'
 input_data%old_style = f

