 ##############################################
 ###          Configuration file            ###
 ##############################################
 cylindrical = T
 datfile%write = t
 datfile%per_outputs = 4

 # The desired endtime in seconds of the simulation:
 end_time = 50e-9

 # The name of the simulation:
 output%name = output/stability_v2

 # The length of the (square) domain:
 domain_len = 16e-3 64-3

 # Whether the domain is periodic (per dimension):
 periodic = F F

 refine_min_dx = 1e-7
 refine_adx = 0.8
 derefine_dx = 2e-5

 # The gas pressure in bar (used for photoionization):
 gas%pressure = 0.1000E+01

 # The background ion and electron density in 1/m^3:
 background_density = 0.0

 # Initial density of the seed:
 seed_density = 5.000E+19 1e15

 # Type of seed: neutral (0), ions (1) or electrons (-1)
 seed_charge_type = 0 0

 # The relative start position of the initial seed:
 seed_rel_r0 = 0.0000E+00 1.0 0.0 0.94

 # The relative end position of the initial seed:
 seed_rel_r1 = 0.0000E+00 0.95 0.0 0.94

 # Seed width:
 seed_width = 2.000E-04 5.000E-04

 # Fallof type for seed, see m_geom.f90:
 seed_falloff = smoothstep gaussian

 # The timestep for writing output:
 output%dt = 0.2500E-09

 # The maximum timestep:
 dt_max = 0.1000E-09

 [photoi]
        # Whether photoionization is enabled:
        enabled = t
        eta = 0.05
        per_steps = 5

 # Input file with transport data:
 input_data%file = ../../transport_data/td_air_siglo_swarm.txt
 input_data%old_style = t
